<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>17G65</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>zh_CN</string>
	<key>CFBundleDisplayName</key>
	<string>酷我音乐J</string>
	<key>CFBundleExecutable</key>
	<string>KWPlayer</string>
	<key>CFBundleIconFiles</key>
	<array>
		<string>XXX/icon.png</string>
	</array>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>AppIcon20x20</string>
				<string>AppIcon29x29</string>
				<string>AppIcon40x40</string>
				<string>AppIcon57x57</string>
				<string>AppIcon60x60</string>
			</array>
			<key>CFBundleIconName</key>
			<string>AppIcon</string>
		</dict>
	</dict>
	<key>CFBundleIcons~ipad</key>
	<dict/>
	<key>CFBundleIdentifier</key>
	<string>com.yeelion.kwplayerjk</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>KWPlayer</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>9.0.9</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>iPhoneOS</string>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>kuwo</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>wx426be7eece75fafb</string>
				<string>kwmusic</string>
				<string>sinaweibosso.2972927130</string>
				<string>wb801093219</string>
				<string>tencent100243533</string>
				<string>btaobao21779626</string>
				<string>wxc305711a2a7ad71c</string>
				<string>wxd1fc49f1c79522ef</string>
				<string>kwmusicpay</string>
				<string>kwWedgit</string>
				<string>wb2972927130</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>kwsing</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.kuwo.kwmusic.kwmusicForKwsing</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>alipay</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>alipayKuwoMusic</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>recall</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>kwapp</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>AQ_Kuwo</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>aqhapkuwo1</string>
				<string>aqhapkuwo2</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>alibaichuan</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>tbopen23330700</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>kwplayer</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>kwtransfer</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>prefs</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>kwurl</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>kwurl</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>prefs</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>9092</string>
	<key>DTAppStoreToolsBuild</key>
	<string>10A247</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>15F79</string>
	<key>DTPlatformName</key>
	<string>iphoneos</string>
	<key>DTPlatformVersion</key>
	<string>11.4</string>
	<key>DTSDKBuild</key>
	<string>15F79</string>
	<key>DTSDKName</key>
	<string>iphoneos11.4</string>
	<key>DTXcode</key>
	<string>0941</string>
	<key>DTXcodeBuild</key>
	<string>9F2000</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSApplicationCategoryType</key>
	<string></string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>weixin</string>
		<string>wechat</string>
		<string>wtloginmqq2</string>
		<string>mqqbrowser</string>
		<string>mqqwpa</string>
		<string>mqqapiwallet</string>
		<string>mqqopensdkapiV2</string>
		<string>mqqopensdkapiV3</string>
		<string>mqqapi</string>
		<string>mqq</string>
		<string>safepay</string>
		<string>alipay</string>
		<string>alipayauth</string>
		<string>sinaweibo</string>
		<string>mqzone</string>
		<string>mqqOpensdkSSoLogin</string>
		<string>uconnectlive</string>
		<string>renaultoem</string>
		<string>aqhapkuwo1</string>
		<string>openapp.jdmobile</string>
		<string>openApp.jdMobile</string>
		<string>taobao</string>
		<string>tbopen</string>
		<string>tmall</string>
		<string>sinaweibohd</string>
		<string>weibosdk</string>
		<string>weibosdk2.5</string>
		<string>aqhapkuwo2</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>MPNowPlayingInfoPropertyIsLiveStream</key>
	<true/>
	<key>MinimumOSVersion</key>
	<string>9.0</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSAppleMusicUsageDescription</key>
	<string>用于播放音乐</string>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>访问您的蓝牙，进行设备连接</string>
	<key>NSCalendarsUsageDescription</key>
	<string>使用日历权限</string>
	<key>NSCameraUsageDescription</key>
	<string>使用扫一扫、修改头像等需要访问相机</string>
	<key>NSContactsUsageDescription</key>
	<string>用于根据通讯录寻找并添加好友</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>允许将会得到更精准的本地热门音乐推荐</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>允许将会得到更精准的本地热门音乐推荐</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>听歌识曲、酷我K歌需要使用您的麦克风</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>使用保存歌词海报、歌手头像、歌单海报等需要访问相册</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>使用修改头像、添加自定义皮肤需要访问相册</string>
	<key>SBUsesNetwork</key>
	<string>3</string>
	<key>UIAppFonts</key>
	<array>
		<string>DINCond-Bold.otf</string>
	</array>
	<key>UIApplicationShortcutItems</key>
	<array>
		<dict>
			<key>UIApplicationShortcutItemIconFile</key>
			<string>image/3dTouch/personal@2x.png</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>每日推荐</string>
			<key>UIApplicationShortcutItemType</key>
			<string>discoverSong</string>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemIconFile</key>
			<string>image/3dTouch/local_play@2x.png</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>播放本地</string>
			<key>UIApplicationShortcutItemType</key>
			<string>search</string>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemIconFile</key>
			<string>image/3dTouch/knowsong@2x.png</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>听歌识曲</string>
			<key>UIApplicationShortcutItemType</key>
			<string>recogniseMusic</string>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemIconFile</key>
			<string>image/3dTouch/search@2x.png</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>搜索</string>
			<key>UIApplicationShortcutItemType</key>
			<string>playLocal</string>
		</dict>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
		<string>external-accessory</string>
		<string>fetch</string>
		<string>remote-notification</string>
		<string>bluetooth-central</string>
	</array>
	<key>UIBrowsableContentSupportsImmediatePlayback</key>
	<false/>
	<key>UIBrowsableContentSupportsSectionedBrowsing</key>
	<true/>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
	</array>
	<key>UILaunchImageFile</key>
	<string>LaunchImage</string>
	<key>UILaunchImages</key>
	<array>
		<dict>
			<key>UILaunchImageMinimumOSVersion</key>
			<string>11.0</string>
			<key>UILaunchImageName</key>
			<string>LaunchImage-1100-Portrait-2436h</string>
			<key>UILaunchImageOrientation</key>
			<string>Portrait</string>
			<key>UILaunchImageSize</key>
			<string>{375, 812}</string>
		</dict>
		<dict>
			<key>UILaunchImageMinimumOSVersion</key>
			<string>8.0</string>
			<key>UILaunchImageName</key>
			<string>LaunchImage-800-Portrait-736h</string>
			<key>UILaunchImageOrientation</key>
			<string>Portrait</string>
			<key>UILaunchImageSize</key>
			<string>{414, 736}</string>
		</dict>
		<dict>
			<key>UILaunchImageMinimumOSVersion</key>
			<string>8.0</string>
			<key>UILaunchImageName</key>
			<string>LaunchImage-800-667h</string>
			<key>UILaunchImageOrientation</key>
			<string>Portrait</string>
			<key>UILaunchImageSize</key>
			<string>{375, 667}</string>
		</dict>
		<dict>
			<key>UILaunchImageMinimumOSVersion</key>
			<string>7.0</string>
			<key>UILaunchImageName</key>
			<string>LaunchImage-700</string>
			<key>UILaunchImageOrientation</key>
			<string>Portrait</string>
			<key>UILaunchImageSize</key>
			<string>{320, 480}</string>
		</dict>
		<dict>
			<key>UILaunchImageMinimumOSVersion</key>
			<string>7.0</string>
			<key>UILaunchImageName</key>
			<string>LaunchImage-700-568h</string>
			<key>UILaunchImageOrientation</key>
			<string>Portrait</string>
			<key>UILaunchImageSize</key>
			<string>{320, 568}</string>
		</dict>
	</array>
	<key>UIPrerenderedIcon</key>
	<true/>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>UIRequiresPersistentWiFi</key>
	<true/>
	<key>UIStatusBarHidden</key>
	<true/>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleBlackTranslucent</string>
	<key>UISupportedExternalAccessoryProtocols</key>
	<array>
		<string>com.airbiquity.mip</string>
		<string>com.airbiquity.mip.2</string>
		<string>com.airbiquity.mip.3</string>
		<string>com.airbiquity.mip.4</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
